.form-recebimentos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    align-items: center;
}

.form-recebimentos label{
    margin: 0;
}

.form-recebimentos select{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.form-recebimentos input{
    margin-left: 10px;
}

.form-button{    
    text-align: center;    
}

.form-button button{
    width: 50%;
    margin-top:10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.painel-pagamentos{
    margin: 30px;    
    border-radius: 10px;
    padding: 5px;
}

.painel-pagamentos h2{
    color: var(--color-1);
}

.card-pagamento{    
    border: 1px solid var(--color-1);
    border-radius: 3px;    
    background-color: var(--color-2);
    margin-top: 15px;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-pagamento-info{
    background-color: var(--color-3);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.valor-recebido{
    border: 1px solid var(--color-1);
    background-color: var(--color-3);
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.lista-recebimentos{
    border: 1px solid var(--color-1);
    margin: 15px 25px;
    border-radius: 10px;
}

.lista-recebimentos h2{
    padding: 10px;
    color: var(--color-1);
}

.card-recebimento{
    border: 1px solid var(--color-1);
    background-color: var(--color-2);
    margin: 10px 15px;
    border-radius: 10px;
    padding: 10px 10px;
}

.botao-excluir-pagamento{
    width: 100%;
    padding: 12px;        
    background-color: red;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;  
    margin-top: 10px;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pesquisar-pagamento-cliente{
    border: 1px solid var(--color-1);    
    margin: 20px 25px;
    border-radius: 10px;
    padding: 10px;
}

.pesquisar-pagamento-cliente label{
    color: var(--color-1);
}

.valor-pago{
    text-align: center;
}