.form-container input{
    margin: 0;
    
}

.dropdown{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;    
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 5px;
}

.dropdown:empty{
    border: none;
}


.dropdown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding: 5px;
}

.card-venda-pesquisada:empty{
    border: none;
}

.card-venda-pesquisada{
    width:80%;    
    margin: 10px auto;
    padding: 10px;       
    border-radius: 10px;     
    color: var(--color-1);
    border: 1px solid var(--color-1);    
}

.cliente-venda-info{
    display: flex;
    flex-direction: row;        
    gap: 15px;
}

.valor-venda{
    text-align: right;
    color:var(color-2);
    border: 1px solid var(--color-1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-pagamento{
    display: flex;
    flex-direction: column;
}
.pagamento-venda{
    padding: 5px;
    margin: 10px;
    border: 1px solid var(--color-1);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.valor-pago{
    text-align: right;
    color: rgb(7, 156, 7);
    border: 1px solid var(--color-1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}

.valor-restante{
    text-align: right;
    color: rgb(238, 92, 114);
    border: 1px solid var(--color-1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.botao-adicionar-pagamento{
    width: 100%;
    padding: 12px;        
    background-color: var(--color-1);
    color:var(--color-3);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;  
    margin-top: 15px;
    margin-bottom: 10px;  
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.listar-vendas h2{
 border: 1px solid var(--color-1);
}

.botao-listar-vendas{
    width: 100%;
    padding: 12px;        
    background-color: var(--color-3);
    color:var(--color-1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;  
    margin-top: 15px;
    margin-bottom: 10px;  
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;   
}

.painel-vendas{
    margin: 20px;
    border: 1px solid var(--color-2);
    border-radius: 5px;
}

.card-venda{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid var(--color-1);
    border-radius: 5px;
    background-color: #fff;
    color: var(--color-1);
    padding: 10px;
}

.status-venda-aberta{
    padding: 10px;
    margin:10px;
    background-color: var(--color-3);
    color: var(--color-1);
    border-radius: 10px;
    text-align: center;
}

.status-venda-encerrada{
    padding: 10px;
    margin:10px;
    background-color: var(--color-1);
    color: var(--color-3);
    border-radius: 10px;
    text-align: center;
}

.botao-exlcuir-venda{
    width: 100%;
    padding: 12px;        
    background-color: rgb(242, 36, 36);
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;  
    margin-top: 15px;
    margin-bottom: 10px;  
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;      
}

.button-excluir-pagamento{
    width: 100%;
    padding: 8px;        
    background-color: rgb(242, 36, 36);
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;  
    margin-top: 15px;
    margin-bottom: 10px;  
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;      
}